<div class="row">
    <div class="col-lg-4 col-md-6 col-12">
        <div class="hovereffect">
            <a href="<%- config.root %><%- item.path %>">
               <img class="img-fluid portfolio-img" src="<%- config.root %><%- item.cover_image || theme.default_cover_image %>" alt="<%- item.title || theme.default_post_title || "未名" %>">
                <div class="overlay">
                <span class="overlay-text">
                  <%- item.title || theme.default_post_title || "未名" %>
                  <hr>
                  <%- item.edit_date || theme.default_edit_date || "Jan 01 2017" %>
                </span>
               </div>
            </a>
        </div>
    </div>
</div>